<div class="modal-header">
  <h4 class="modal-title">{{employee.firstName}} {{employee.lastName}} <span translate>Details</span></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-6"><strong translate>Name:</strong> {{employee.firstName}} {{employee.lastName}}</div>
    <div class="col-sm-6"><strong translate>Username:</strong>
      {{employee.username}}</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong translate>Email:</strong> {{employee.email}}</div>
    <div class="col-sm-6"><strong translate>Phone Number:</strong> {{employee.phoneNumber}}</div>
  </div>
  <div class="row">
    <div class="col-sm-6"><strong translate>Is Active:</strong> {{employee.isActive}}</div>
    <div class="col-sm-6"><strong translate>Role:</strong> {{employee.role }}</div>
  </div>

  <div class="row">
    <div class="col-sm-6"><strong translate>Created At:</strong> {{employee.createdAt | date: "dd/MM/yyyy hh:mm" }}
    </div>
    <div class="col-sm-6"><strong translate>Updated At:</strong> {{employee.updatedAt | date: "dd/MM/yyyy hh:mm"}}
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss(false)" translate>Close</button>
</div>
