<div class="card card-signin my-5" style="border: 0; margin: 0!important;">
  <div class="card-body">
    <h2 class="card-title text-center" translate>Add a new Employee</h2>
    <form class="form-signin" (ngSubmit)="store()">

      <div class="form-label-group m-2 row">
        <div class="col-sm-6">
          <label>First Name:</label>
          <input type="text" name="name" id="name" [(ngModel)]="employee.firstName"
            class="form-control common-input" placeholder="First Name" required autofocus />
        </div>
        <div class="col-sm-6">
          <label>Last Name:</label>
          <input type="text" name="name" id="name" [(ngModel)]="employee.lastName"
            class="form-control common-input" placeholder="Last Name" required autofocus />
        </div>
      </div>

      <div class="form-label-group m-4">
        <label for="icon">Image: </label>
        <input type="file" name="icon" id="icon" (change)="uploadImage($event)" class="" required autofocus />
      </div>

      <div class="form-label-group m-4">
        <label>UserName:</label>
        <input type="text" name="username" id="username" [(ngModel)]="employee.username"
          class="form-control common-input px-3" placeholder="Username" required autofocus />
      </div>

      <div class="form-label-group m-4">
        <label>Email:</label>
        <input type="email" name="email" id="email" [(ngModel)]="employee.email" class="form-control common-input px-3"
          placeholder="Email" required autofocus />
      </div>

      <div class="form-label-group m-4">
        <label>PhoneNumber:</label>
        <input type="text" name="mobile" id="mobile" [(ngModel)]="employee.phoneNumber"
          class="form-control common-input px-3" placeholder="Phone Number" required autofocus />
      </div>

      <div class="form-label-group m-4">
        <label>Password:</label>
        <input type="text" name="password" id="password" [(ngModel)]="employee.password"
          class="form-control common-input px-3" placeholder="Password" required autofocus />
      </div>

      <div class="form-label-group m-4" *ngIf="[EmployeeRole.BRANCH_EMPLOYEE, EmployeeRole.ADMIN].includes(currentEmployee.role)">
        <label>Role:</label>
        <select [(ngModel)]="employee.role" class="form-control" name="role">
          <option [value]="EmployeeRole.ADMIN" *ngIf="EmployeeRole.ADMIN == currentEmployee.role" >{{EmployeeRole.ADMIN}}</option>
          <option [value]="EmployeeRole.BRANCH_EMPLOYEE">{{EmployeeRole.BRANCH_EMPLOYEE}}</option>
          <option [value]="EmployeeRole.DRIVER" selected="selected">{{EmployeeRole.DRIVER}}</option>
        </select>
      </div>

      <div class="form-label-group m-4" *ngIf="[EmployeeRole.BRANCH_EMPLOYEE, EmployeeRole.DRIVER].includes(employee.role)">
        <label>Branch:</label>
          <select [(ngModel)]="employee.branchId" class="form-control" name="role">
            <option *ngFor="let branch of branches" [value]="branch.id">{{branch.description}}</option>
          </select>
      </div>


      <div class="form-label-group m-4">
        <button class="btn btn-lg btn-primary btn-block form-control text-uppercase" [disabled]="isStoreLoading">
          <span *ngIf="!isStoreLoading" translate>Add Employee</span>
          <img src="{{ loadingGif }}" *ngIf="isStoreLoading" width="20px" />
        </button>
      </div>
    </form>
  </div>
</div>
