<div class="modal-header">
  <h4 class="modal-title" translate>Update</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <span translate>Choose new status:</span>
  <br>
  <div *ngIf="serviceRequest.status == RequestStatus.PENDING_APPROVAL">
    <select class="form-control" name="status" id="status" [(ngModel)]="newStatus">
      <option [value]="RequestStatus.APPROVED">{{RequestStatus.APPROVED}}</option>
      <option [value]="RequestStatus.IN_PROGRESS">{{RequestStatus.IN_PROGRESS}}</option>
      <option [value]="RequestStatus.REJECTED">{{RequestStatus.REJECTED}}</option>
      <option [value]="RequestStatus.DONE">{{RequestStatus.DONE}}</option>
    </select>
  </div>
  <div *ngIf="serviceRequest.status == RequestStatus.APPROVED">
    <select class="form-control" name="status" id="status" [(ngModel)]="newStatus">
      <option [value]="RequestStatus.IN_PROGRESS">{{RequestStatus.IN_PROGRESS}}</option>
      <option [value]="RequestStatus.REJECTED">{{RequestStatus.REJECTED}}</option>
      <option [value]="RequestStatus.DONE">{{RequestStatus.DONE}}</option>
    </select>
  </div>
  <div *ngIf="serviceRequest.status == RequestStatus.IN_PROGRESS">
    <select class="form-control" name="status" id="status" [(ngModel)]="newStatus">
      <option [value]="RequestStatus.REJECTED">{{RequestStatus.REJECTED}}</option>
      <option [value]="RequestStatus.DONE">{{RequestStatus.DONE}}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updateStatus()" translate>Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss(false)" translate>Close</button>
  </div>
</div>
