<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms & Conditions</title>
</head>

<body>
  <h1>Terms & Conditions</h1>

  <p>IMPORTANT, PLEASE READ THESE ONLINE TERMS OF USE CAREFULLY.</p>

  <p>Welcome to <a href="http://cleanclinicapp.com/">http://cleanclinicapp.com/</a>. CleanClinic (hereafter referred to
    as
    “CleanClinic”, “we”, “us”, or “our”) provides a platform for online courses (collectively, the “Services”), which
    Services are accessible at <a href="http://cleanclinicapp.com/">http://cleanclinicapp.com/</a> and any other
    websites
    through which CleanClinic makes the Services available (collectively, the “Site”).</p>

  <p>The Site and Services are offered to you conditioned on your acceptance without modification of the terms,
    conditions,
    and notices contained herein (the “Terms''). Your use of the Site and Services constitutes your agreement to all
    such
    Terms. Please read these terms carefully, and keep a copy of them for your reference. We reserve the right to update
    or modify these Terms at any time without prior notice to you, and your continued use of the Site following
    CleanClinic’s posting of any changes will constitute your acceptance of such changes or modifications. We encourage
    you to review these Terms whenever you use the Site.</p>

  <h2>Eligibility</h2>

  <h3>Age Restriction</h3>
  <p>The use of the Site and Services provided by CleanClinic is intended exclusively for individuals who are 18 years
    of
    age or older. Any form of access to or utilization of the Site or Services by individuals under the age of 18 is
    explicitly prohibited. By gaining access to or engaging in the use of the Site or Services, you hereby affirm and
    guarantee that you are 18 years of age or older.</p>

  <h3>Accurate Information</h3>
  <p>As an essential prerequisite for your utilization of the Service, you hereby consent to the following obligations:
  </p>

  <ol>
    <li>
      <p>Accurate Information Submission</p>
      <p>During the process of registering for or employing the Service, you are required to supply CleanClinic with
        information that is both truthful and accurate, in accordance with the details solicited in the CleanClinic
        registration forms. You are obligated to provide information that is current and complete to the best of your
        knowledge at the time of submission.</p>
    </li>
    <li>
      <p>Information Maintenance</p>
      <p>Furthermore, you are obligated to uphold the veracity, accuracy, and comprehensiveness of the information you
        provide. It is incumbent upon you to routinely update this information to ensure its ongoing accuracy and
        relevance.</p>
    </li>
  </ol>

  <p>Should you fail to fulfill these obligations or provide information that is untrue, outdated, incomplete, or
    inaccurate, CleanClinic reserves the right to take appropriate actions, including but not limited to the suspension
    or termination of your access to the Service.</p>

  <p>By adhering to these conditions and utilizing the Service, you acknowledge and agree to the significance of
    furnishing
    true, precise, and up-to-date information as well as maintaining the integrity of said information throughout your
    engagement with CleanClinic's Site and Services.</p>

  <h2>Your Account</h2>

  <p>Upon using the Site or Services provided by CleanClinic, you bear the responsibility for maintaining the
    confidentiality of your account credentials, including your username and password. Additionally, you are tasked with
    limiting access to your personal computer or device. By engaging in the use of the Site or Services, you explicitly
    consent to assuming accountability for all activities undertaken through your account or password.</p>

  <p>Non-Transferability</p>
  <p>It is imperative to recognize that you are prohibited from assigning or transferring your account to any other
    individual or entity. Your account is strictly intended for your individual use, and any efforts to transfer or
    delegate account ownership are explicitly disallowed.</p>

  <p>Third-Party Account Access</p>
  <p>While utilizing the services provided by CleanClinic, you acknowledge that CleanClinic cannot be held responsible
    for
    instances wherein third parties gain access to your account due to theft or unauthorized appropriation of your
    account details. It remains your responsibility to employ appropriate security measures to safeguard your account
    against unauthorized access or usage.</p>

  <p>Discretionary Actions</p>
  <p>CleanClinic, along with its associates, retains the right to exercise sole discretion in the decision to refuse or
    cancel service, terminate accounts, or modify and remove content. These decisions are made independently and are
    guided by CleanClinic's judgment in alignment with its policies and objectives.</p>

  <p>By utilizing the Site or Services, you acknowledge your understanding of and agreement to these terms, thereby
    committing to the responsible management of your account, the protection of its confidentiality, and adherence to
    CleanClinic's policies and guidelines.</p>

  <h2>Links to Third Party Sites/Third Party Services</h2>

  <p>The Site and Services contain links to other websites (“Linked Sites”). The Linked Sites are not under the control
    of
    CleanClinic and CleanClinic assumes no responsibility for, the content, privacy policies, or practices of any
    third-party websites, and you access and use these websites solely at your own risk. CleanClinic is providing these
    links to you only as a convenience, and the inclusion of any link does not imply endorsement by CleanClinic of the
    site or any association with its operators. By using the Site or Services, you expressly relieve CleanClinic from
    any
    and all liability arising from your use of any third-party website and from any loss or damage of any sort you may
    incur from dealing with any third party. It is up to you to take appropriate precautions to ensure that any website
    you visit is free of destructive items such as worms or viruses. We encourage you to be aware when you leave the
    Site
    and to read the terms and conditions of use for each other website that you visit.</p>

  <p>Certain services made available via the Site or Services are delivered by third-party sites and organizations. By
    using any product, service or functionality originating from the Site, you hereby acknowledge and consent that
    CleanClinic may share such information and data with any third party with whom CleanClinic has a contractual
    relationship to provide the requested product, service or functionality on behalf of users and customers of the Site
    or Services.</p>

  <h2>No Unlawful or Prohibited Use/Intellectual Property</h2>

  <p>You are granted a non-exclusive, non-transferable, revocable license to access and use the Site and Services
    strictly
    in accordance with these terms of use. As a condition of your use of the Site, you warrant to CleanClinic that you
    will not use the Site for any purpose that is unlawful or prohibited by these Terms.</p>

  <p>All content included as part of the Site and Services, such as text, graphics, logos, images, as well as the
    compilation thereof, and any software used on the Site or in the Application, is the property of CleanClinic, its
    suppliers or third-parties and protected by trademark, copyright and other laws that protect intellectual property
    and proprietary rights. You agree to observe and abide by all trademark, copyright and other proprietary notices,
    legends or other restrictions contained in any such content and will not make any changes thereto, including without
    limitation altering any proprietary rights or attribution notices in any such content. Access to the Site and
    Services does not authorize anyone to use any of CleanClinic’s names, logos or marks, including without limitation
    the CleanClinic trademark or logo, or any other intellectual property in any manner. The content on the Site may be
    used only as an information resource, and CleanClinic content is not for resale. You will use protected content
    solely for your personal, non-commercial use, and will make no other use of the content without the express written
    permission of CleanClinic and the copyright owner. You agree that you do not acquire any ownership rights in any
    protected content. The Terms of Service Generator assisted us in writing our terms of service. We do not grant you
    any licenses, express or implied, to the intellectual property of CleanClinic or our licensors except as expressly
    authorized by these Terms. Any other use, including the reproduction, modification, distribution, transmission,
    republication, display, or performance, of the content on the Site is strictly prohibited.</p>

  <p>Further, in your use of the Site and Services, you may not:</p>

  <ul>
    <li>modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in
      any way exploit any of the content, in whole or in part, found on the Site or the Application;</li>
    <li>use web crawlers, web robots, web scutters, ants, automatic indexers, bots, worms, and other such devices in
      connection with the Site; provided, however, that general purpose Internet search engines and non-commercial
      public archives that use tools to gather information for the sole purpose of displaying hyperlinks to the Site
      are granted a limited exception from the foregoing exclusion, provided that they do so from a stable IP address
      or range of IP addresses using an easily-identifiable agent;</li>
    <li>use the Site in any manner that could damage, disable, overburden, or impair the Site or interfere with any
      other
      party’s use of the Site;</li>
    <li>obtain or attempt to obtain any content through any means not intentionally made available or provided for
      through
      the Site;</li>
    <li>remove, modify, disable, block, obscure or otherwise impair any advertising in connection with the Site;</li>
    <li>collect personally identifiable information of other users or visitors;</li>
    <li>harvest information about users for the purpose of sending, or to facilitate or encourage the sending of,
      unsolicited bulk or other communications; or</li>
    <li>post or transmit any worms, viruses, Trojans, or other harmful, disruptive, or destructive files, code, or
      programs to the Site.</li>
  </ul>

  <p>CleanClinic will fully cooperate with any law enforcement authorities or court order requesting or directing
    CleanClinic to disclose the identity of anyone violating these Terms.</p>

  <p>In its sole discretion, in addition to any other rights or remedies available to and without any liability
    whatsoever,
    CleanClinic may at any time and without notice may terminate or restrict your access to any component of the Site.
  </p>

  <h2>Electronic Communications/Notice</h2>

  <h3>Electronic Communication Consent</h3>
  <p>Your interaction with the Site or Services, as well as the act of sending emails to CleanClinic, are regarded as
    instances of electronic communications. By engaging in these activities, you explicitly grant consent to the receipt
    of electronic communications. Furthermore, you confirm your agreement that all agreements, notifications,
    disclosures, and other forms of communication that CleanClinic furnishes to you electronically—whether through email
    or by displaying the notifications on the Site—satisfy any legal stipulations mandating that such communications be
    in written format.</p>

  <h3>
    Notices to CleanClinic
  </h3>
  <p>For the purpose of conveying any notifications to CleanClinic, you will be required to send an email to
    Info@cleanclinicapp.com. The delivery of these notices shall be deemed completed upon the earlier occurrence of the
    confirmation of delivery or within two (2) business days following the dispatch of the email.


    By actively engaging with the Site or Services, you acknowledge your understanding and consent to these terms,
    affirming your agreement to receive electronic communications and recognizing the validity of electronic
    communication in the context of agreements, notices, disclosures, and other related matters.
  </p>
  <h3>
    Use of Communication Services
  </h3>
  <p>
    The Site may contain bulletin board services, blogs, chat areas, news groups, forums, communities, personal web
    pages, calendars, and/or other message or communication facilities designed to enable you to communicate with the
    public at large or with a group (collectively, “Communication Services”), you agree to use the Communication
    Services only to post, send and receive messages and material that are proper and related to the particular
    Communication Service.

    By way of example, and not as a limitation, you agree that when using a Communication Service, you will not:
    defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and
    publicity) of others;
    publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene,
    indecent or unlawful topic, name, material or information;
    upload files that contain software or other material protected by intellectual property laws (or by rights of
    privacy of publicity) unless you own or control the rights thereto or have received all necessary consents;
    upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the
    operation of another’s computer;
    advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service
    specifically allows such messages;
    conduct or forward surveys, contests, pyramid schemes or chain letters;
    download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot
    be legally distributed in such manner;
    falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of
    the origin or source of software or other material contained in a file that is uploaded, restrict or inhibit any
    other user from using and enjoying the Communication Services;
    violate any code of conduct or other guidelines which may be applicable for any particular Communication Service;
    harvest or otherwise collect information about others, including e-mail addresses, without their consent; or
    violate any applicable laws or regulations.

    CleanClinic has no obligation to monitor the Communication Services. However, CleanClinic reserves the right to
    review materials posted to a Communication Service and to remove any materials in its sole discretion. CleanClinic
    reserves the right to terminate your access to any or all of the Communication Services at any time without notice
    for any reason whatsoever.
    CleanClinic reserves the right at all times to disclose any information as necessary to satisfy any applicable law,
    regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or
    materials, in whole or in part, in CleanClinic’s sole discretion.
    Always use caution when giving out any personally identifying information about yourself or your children in any
    Communication Service. CleanClinic does not control or endorse the content, messages or information found in any
    Communication Service and, therefore, CleanClinic specifically disclaims any liability with regard to the
    Communication Services and any actions resulting from your participation in any Communication Service. Managers and
    hosts are not authorized CleanClinic spokespersons, and their views do not necessarily reflect those of CleanClinic.
    Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or
    dissemination. You are responsible for adhering to such limitations if you upload the materials.
    Materials Provided to CleanClinic or Posted on Any CleanClinic Web PageCleanClinic does not claim ownership of the
    materials you provide to CleanClinic (including feedback and suggestions) or post, upload, input or submit to any
    CleanClinic Site or our associated services (collectively “Submissions”). However, by posting, uploading, inputting,
    providing or submitting your Submissions you are granting CleanClinic, our affiliated companies and necessary
    sublicensees an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use your Submissions in
    connection with the operation of the Site or Services or our affiliated companies’ Internet businesses including,
    without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit,
    translate and reformat your Submissions; and to publish or refrain from publishing your name in connection with your
    Submissions.
    No compensation will be paid with respect to the use of your Submissions, as provided herein. CleanClinic is under
    no obligation to post or use any Submissions you may provide and may remove any Submissions at any time in
    CleanClinic’s sole discretion.
    By posting, uploading, inputting, providing or submitting your Submissions, you warrant and represent that you own
    or otherwise control all of the rights to your Submissions as described in this Section including, without
    limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions and the
    rights granted to CleanClinic herein.
  </p>

  <h3>
    No Endorsement
  </h3>
  <p>
    CleanClinic does not endorse any of the courses about which information is provided via the Site or Services. You
    are responsible for determining the identity and suitability of others whom you contact via the Site or Services. We
    will not be responsible for any damage or harm resulting from your interactions with any online course providers.
    Your dealings with online course providers and any other terms, conditions, representations or warranties associated
    with such dealings, are between you and such online course providers exclusively and do not involve CleanClinic. You
    should make whatever investigation or other resources that you deem necessary or appropriate before signing up for
    any online courses.
    By using the Site or Services, you agree that any legal remedy or liability that you seek to obtain for actions or
    omissions of any online course providers or other third parties will be limited to a claim against the particular
    online course providers or other third parties who caused you harm, and you agree not to attempt to impose liability
    on, or seek any legal remedy from CleanClinic with respect to such actions or omissions and hereby release
    CleanClinic from any and all liability for or relating to any interactions or dealings with online course providers.
  </p>
  <h3>
    International Users
  </h3>
  <p>
    Geographical Control and Compliance
    CleanClinic, as the entity in charge, administers, and manages the Site and Services from our offices situated
    within [Country]. If, however, you decide to access the Site or Services from a location that falls outside the
    geographical boundaries of [Country], it becomes your personal responsibility to adhere to and abide by all
    pertinent local laws in that jurisdiction.
  </p>

  <h3>
    Prohibited Usage
  </h3>
  <p>
    Furthermore, by utilizing the Site or Services and consequently accessing CleanClinic's content, you pledge not to
    employ said content in any country or manner that contravenes the laws, limitations, or regulations enforced by
    applicable jurisdictions. You explicitly agree to refrain from engaging in activities that are prohibited by the
    laws or restrictions set forth in any relevant legal framework.


    In essence, by accessing the Site or Services from an international location, you acknowledge and accept your
    accountability for compliance with local laws and regulations, and you vow to abstain from employing CleanClinic
    content in a manner that runs afoul of the legal norms or constraints within the jurisdiction you are situated.

  </p>
  <h3>
    Delays
  </h3>
  <p>
    It's important to recognize that the utilization of the Site or Services may be subject to certain limitations,
    delays, and challenges that are inherent to the nature of the Internet and electronic communications. CleanClinic
    wishes to emphasize that we cannot be held accountable for any delays, failures, or consequential damage that may
    arise as a result of these inherent issues.


    As you engage with the Site or Services, please acknowledge that challenges related to Internet connectivity and
    electronic communication are outside of CleanClinic's control. While we strive to provide a seamless experience,
    it's important to understand that such challenges may occasionally impact the performance of the Site or Services.


    By accepting these terms, you demonstrate your understanding of the potential for limitations, delays, and related
    complications that may arise due to the nature of Internet-based operations. You agree not to attribute any delays,
    failures, or damages to CleanClinic in instances where they are the result of factors beyond our control, such as
    inherent Internet and electronic communication challenges.
  </p>
  <h3>
    Indemnification
  </h3>
  <p>
    Your Commitment to Indemnify


    By agreeing to these terms, you willingly undertake the responsibility to indemnify, defend, and shield CleanClinic,
    along with its officers, directors, employees, agents, and third-party associates, from any and all losses,
    expenses, costs, liabilities, and expenditures—comprising reasonable attorney fees—associated with or stemming from
    various circumstances:


    Your utilization of the Site or Services, or your inability to use them effectively.
    Any user postings that you submit.
    Your transgression of the terms and conditions outlined herein.
    Your infringement upon the rights of any third party.
    Your violation of any applicable laws, regulations, or rules.
    CleanClinic's Right to Exclusive Defense


    CleanClinic reserves the prerogative, at its sole discretion and cost, to undertake the exclusive defense and
    management of any legal matter that would otherwise fall under your indemnification obligations. Should such an
    eventuality transpire, you agree to provide your full cooperation to CleanClinic in asserting any available
    defenses.


    In essence, your acceptance of these terms affirms your understanding and consent to assume the financial and legal
    responsibility for any losses or liabilities incurred by CleanClinic or its affiliates due to your actions or any
    contravention of the stipulated terms.
  </p>

  <h3>
    Warranty and Liability Disclaimer
  </h3>
  <p>
    The information, software, products, and services included in or available through the Site or Services may include
    inaccuracies or typographical errors. Changes are periodically added to the information herein. CleanClinic and/or
    its suppliers may make improvements and/or changes in the site at any time.
    CleanClinic and/or its suppliers make no representations about the suitability, reliability, availability,
    timeliness, and accuracy of the information, software, products, services and related graphics contained on the site
    for any purpose. To the maximum extent permitted by applicable law, all such information, software, products,
    services and related graphics are provided “as is” without warranty or condition of any kind. CleanClinic and/or its
    suppliers hereby disclaim all warranties and conditions with regard to this information, software, products,
    services and related graphics, including all implied warranties or conditions of merchantability, fitness for a
    particular purpose, title and non-infringement.
    YOU EXPRESSLY UNDERSTAND AND AGREE THAT CleanClinic WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
    SPECIAL, PUNITIVE, COMPENSATORY, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF CleanClinic HAS BEEN ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGES) (COLLECTIVELY, “DAMAGES”), RESULTING FROM: (A) THE USE OR INABILITY TO USE THE SERVICE;
    (B) THE COST OF ANY GOODS AND/OR SERVICES PURCHASED OR OBTAINED AS A RESULT OF THE USE OF THE SERVICE; (C)
    DISCLOSURE OF, UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR INFORMATION OR CONTENT; (D) CONTENT YOU SUBMIT, RECEIVE,
    ACCESS, TRANSMIT OR OTHERWISE CONVEY THROUGH THE SERVICE; (E) STATEMENTS OR CONDUCT OF ANY ONLINE COURSE PROVIDERS
    OR OTHER THIRD PARTY THROUGH THE SERVICE; (F) ANY OTHER MATTER RELATING TO THE SERVICE; (G) ANY BREACH OF THIS
    AGREEMENT BY CleanClinic OR THE FAILURE OF CleanClinic TO PROVIDE THE SERVICE UNDER THIS AGREEMENT OR (H) ANY OTHER
    DEALINGS OR INTERACTIONS YOU HAVE WITH ANY ONLINE COURSE PROVIDERS (OR ANY OF THEIR REPRESENTATIVES OR AGENTS).
    THESE LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW. In some jurisdictions, limitations of
    liability are not permitted. In such jurisdictions, some of the foregoing limitations may not apply to You.
  </p>

  <h3>
    Termination/Access Restriction
  </h3>

  <p>
    CleanClinic's Discretionary Authority


    It is important to acknowledge that CleanClinic retains the sole discretion to discontinue your access to the Site
    and Services, as well as any associated services or components thereof, at any given time. This action may be
    undertaken without the necessity of prior notice.


    By accepting these terms, you are affirming your understanding of CleanClinic's prerogative to terminate your access
    to the Site and Services in a manner that aligns with its own discretion. This means that CleanClinic holds the
    authority to halt your engagement with the Site, its offerings, and its services without being obligated to provide
    advance warning.


    Your adherence to these terms signifies your recognition of CleanClinic's right to make decisions regarding the
    termination of access, and it demonstrates your acknowledgment of this inherent aspect of CleanClinic's operational
    autonomy.
  </p>
  <h3>
    Governing Law/Dispute Resolution
  </h3>
  <p>
    To the maximum extent permitted by law, this agreement is governed by the laws of the State of Washington and you
    hereby consent to the exclusive jurisdiction and venue of courts in Washington in all disputes arising out of or
    relating to the use of the Site. Use of the Site and Services is unauthorized in any jurisdiction that does not give
    effect to all provisions of these Terms, including, without limitation, this Section. CleanClinic’s performance of
    this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in
    derogation of CleanClinic’s right to comply with governmental, court and law enforcement requests or requirements
    relating to your use of the Site or Services or information provided to or gathered by CleanClinic with respect to
    such use.
    Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be
    brought in any competent court without the posting of a bond), any dispute arising under these Terms shall be
    finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation
    Service, Inc. (“JAMS”) by a single arbitrator appointed in accordance with such Rules. The arbitration shall take
    place in King County, Washington, in the English language and the arbitral decision may be enforced in any court in
    any jurisdiction. The prevailing party in any action or proceeding to enforce these Terms shall be entitled to costs
    and attorneys’ fees.


    No Joint Venture

    By consenting to these terms, you acknowledge and accept that the utilization of the Site or Services, as well as
    the agreement detailed herein, does not create or establish any form of joint venture, partnership, employment
    arrangement, or agency relationship between yourself and CleanClinic.


    It is crucial to understand that your engagement with CleanClinic, including the use of its Site and Services, does
    not serve to create any legally binding affiliations, partnerships, or employment relationships between the parties
    involved. This means that the agreement you have with CleanClinic remains exclusive to the terms stated and does not
    extend to establishing any formal business partnerships, collaborations, or employment connections.


    Your acceptance of these terms emphasizes your comprehension of the independent nature of the agreement and usage of
    the Site or Services. It underscores that the relationship between you and CleanClinic is solely based on the terms
    outlined herein, without implying any further partnerships, employment, or joint ventures.
  </p>
  <h3>
    Entire Agreement
  </h3>
  <p>
    Unless otherwise specified herein, this agreement constitutes the entire agreement between you and CleanClinic with
    respect to the Site or Services and it supersedes all prior or contemporaneous communications and proposals, whether
    electronic, oral or written, between the user and CleanClinic with respect to the Site. A printed version of this
    agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings
    based upon or relating to this agreement to the same extent and subject to the same conditions as other business
    documents and records originally generated and maintained in printed form. It is the express wish to the parties
    that this agreement and all related documents be written in English.
    If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but
    not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or
    unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the
    intent of the original provision and the remainder of the agreement shall continue in effect. These Terms will be
    binding upon and will insure to the benefit of the parties, their successors and permitted assigns.
  </p>
  <h3>
    Changes to Terms
  </h3>
  <p>
    CleanClinic's Right to Modify Terms


    CleanClinic retains the exclusive right, acting within its sole discretion, to alter the terms under which the Site
    and Services are made available. Any such modifications will become immediately effective once they are posted on
    our official Site at http://cleanclinicapp.com/ . It is important to note that the most recent version of the Terms
    shall override and take precedence over any previous versions.


    Staying Informed and Acceptance of Modifications


    CleanClinic encourages you to engage in periodic reviews of the Terms to ensure you are well-informed about any
    updates. By continuing to use the Site or Services subsequent to the implementation of such modifications, you are
    expressing your conclusive agreement to accept all alterations introduced to this Agreement. This serves as an
    acknowledgment of your informed consent to the updated terms and conditions.
  </p>
  <h3>
    Discontinuation of Use in Response to Dissatisfaction
  </h3>
  <p>
    Should you find yourself dissatisfied with the introduced modifications, your sole recourse is to promptly cease
    your utilization of the Site and Services. Your decision to discontinue use will be recognized as your chosen
    response to the modifications.


    By consenting to these terms, you signify your understanding of CleanClinic's prerogative to modify the Terms, your
    commitment to staying informed about such changes, and your agreement to accept the updated terms through your
    continued use of the Site or Services.
  </p>
  <h3>
    Contact Us
  </h3>
  <p>
    CleanClinic welcomes your questions or comments regarding the Terms by emailing us at Info@cleanclinicapp.com.
    IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU MUST NOT USE THE SERVICE. BY USING THE
    SERVICE, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTOOD THE TERMS AND CONDITIONS OF THIS AGREEMENT AND YOU AGREE
    TO BE BOUND BY THESE TERMS AND CONDITIONS.
  </p>

</body>

</html>

Terms & Conditions

IMPORTANT, PLEASE READ THESE ONLINE TERMS OF USE CAREFULLY.
Welcome to http://cleanclinicapp.com/ . CleanClinic (hereafter referred to as “CleanClinic”, “we”, “us”, or “our”)
provides a platform for online courses (collectively, the “Services”), which Services are accessible at
http://cleanclinicapp.com/ and any other websites through which CleanClinic makes the Services available (collectively,
the “Site”).
The Site and Services are offered to you conditioned on your acceptance without modification of the terms, conditions,
and notices contained herein (the “Terms''). Your use of the Site and Services constitutes your agreement to all such
Terms. Please read these terms carefully, and keep a copy of them for your reference. We reserve the right to update or
modify these Terms at any time without prior notice to you, and your continued use of the Site following CleanClinic’s
posting of any changes will constitute your acceptance of such changes or modifications. We encourage you to review
these Terms whenever you use the Site.

Eligibility

Age Restriction
The use of the Site and Services provided by CleanClinic is intended exclusively for individuals who are 18 years of age
or older. Any form of access to or utilization of the Site or Services by individuals under the age of 18 is explicitly
prohibited. By gaining access to or engaging in the use of the Site or Services, you hereby affirm and guarantee that
you are 18 years of age or older.


Accurate Information
As an essential prerequisite for your utilization of the Service, you hereby consent to the following obligations:


(a) Accurate Information Submission
During the process of registering for or employing the Service, you are required to supply CleanClinic with information
that is both truthful and accurate, in accordance with the details solicited in the CleanClinic registration forms. You
are obligated to provide information that is current and complete to the best of your knowledge at the time of
submission.


(b) Information Maintenance
Furthermore, you are obligated to uphold the veracity, accuracy, and comprehensiveness of the information you provide.
It is incumbent upon you to routinely update this information to ensure its ongoing accuracy and relevance.


Should you fail to fulfill these obligations or provide information that is untrue, outdated, incomplete, or inaccurate,
CleanClinic reserves the right to take appropriate actions, including but not limited to the suspension or termination
of your access to the Service.


By adhering to these conditions and utilizing the Service, you acknowledge and agree to the significance of furnishing
true, precise, and up-to-date information as well as maintaining the integrity of said information throughout your
engagement with CleanClinic's Site and Services.


Your Account

Upon using the Site or Services provided by CleanClinic, you bear the responsibility for maintaining the confidentiality
of your account credentials, including your username and password. Additionally, you are tasked with limiting access to
your personal computer or device. By engaging in the use of the Site or Services, you explicitly consent to assuming
accountability for all activities undertaken through your account or password.


Non-Transferability
It is imperative to recognize that you are prohibited from assigning or transferring your account to any other
individual or entity. Your account is strictly intended for your individual use, and any efforts to transfer or delegate
account ownership are explicitly disallowed.


Third-Party Account Access
While utilizing the services provided by CleanClinic, you acknowledge that CleanClinic cannot be held responsible for
instances wherein third parties gain access to your account due to theft or unauthorized appropriation of your account
details. It remains your responsibility to employ appropriate security measures to safeguard your account against
unauthorized access or usage.


Discretionary Actions
CleanClinic, along with its associates, retains the right to exercise sole discretion in the decision to refuse or
cancel service, terminate accounts, or modify and remove content. These decisions are made independently and are guided
by CleanClinic's judgment in alignment with its policies and objectives.


By utilizing the Site or Services, you acknowledge your understanding of and agreement to these terms, thereby
committing to the responsible management of your account, the protection of its confidentiality, and adherence to
CleanClinic's policies and guidelines.


Links to Third Party Sites/Third Party Services

The Site and Services contain links to other websites (“Linked Sites”). The Linked Sites are not under the control of
CleanClinic and CleanClinic assumes no responsibility for, the content, privacy policies, or practices of any
third-party websites, and you access and use these websites solely at your own risk. CleanClinic is providing these
links to you only as a convenience, and the inclusion of any link does not imply endorsement by CleanClinic of the site
or any association with its operators. By using the Site or Services, you expressly relieve CleanClinic from any and all
liability arising from your use of any third-party website and from any loss or damage of any sort you may incur from
dealing with any third party. It is up to you to take appropriate precautions to ensure that any website you visit is
free of destructive items such as worms or viruses. We encourage you to be aware when you leave the Site and to read the
terms and conditions of use for each other website that you visit.
Certain services made available via the Site or Services are delivered by third-party sites and organizations. By using
any product, service or functionality originating from the Site, you hereby acknowledge and consent that CleanClinic may
share such information and data with any third party with whom CleanClinic has a contractual relationship to provide the
requested product, service or functionality on behalf of users and customers of the Site or Services.


No Unlawful or Prohibited Use/Intellectual Property

You are granted a non-exclusive, non-transferable, revocable license to access and use the Site and Services strictly in
accordance with these terms of use. As a condition of your use of the Site, you warrant to CleanClinic that you will not
use the Site for any purpose that is unlawful or prohibited by these Terms.
All content included as part of the Site and Services, such as text, graphics, logos, images, as well as the compilation
thereof, and any software used on the Site or in the Application, is the property of CleanClinic, its suppliers or
third-parties and protected by trademark, copyright and other laws that protect intellectual property and proprietary
rights. You agree to observe and abide by all trademark, copyright and other proprietary notices, legends or other
restrictions contained in any such content and will not make any changes thereto, including without limitation altering
any proprietary rights or attribution notices in any such content. Access to the Site and Services does not authorize
anyone to use any of CleanClinic’s names, logos or marks, including without limitation the CleanClinic trademark or
logo, or any other intellectual property in any manner. The content on the Site may be used only as an information
resource, and CleanClinic content is not for resale. You will use protected content solely for your personal,
non-commercial use, and will make no other use of the content without the express written permission of CleanClinic and
the copyright owner. You agree that you do not acquire any ownership rights in any protected content. The Terms of
Service Generator assisted us in writing our terms of service. We do not grant you any licenses, express or implied, to
the intellectual property of CleanClinic or our licensors except as expressly authorized by these Terms. Any other use,
including the reproduction, modification, distribution, transmission, republication, display, or performance, of the
content on the Site is strictly prohibited.

Further, in your use of the Site and Services, you may not:
modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way
exploit any of the content, in whole or in part, found on the Site or the Application;
use web crawlers, web robots, web scutters, ants, automatic indexers, bots, worms, and other such devices in connection
with the Site; provided, however, that general purpose Internet search engines and non-commercial public archives that
use tools to gather information for the sole purpose of displaying hyperlinks to the Site are granted a limited
exception from the foregoing exclusion, provided that they do so from a stable IP address or range of IP addresses using
an easily-identifiable agent;
use the Site in any manner that could damage, disable, overburden, or impair the Site or interfere with any other
party’s use of the Site;
obtain or attempt to obtain any content through any means not intentionally made available or provided for through the
Site;
remove, modify, disable, block, obscure or otherwise impair any advertising in connection with the Site;
collect personally identifiable information of other users or visitors;
harvest information about users for the purpose of sending, or to facilitate or encourage the sending of, unsolicited
bulk or other communications; or
post or transmit any worms, viruses, Trojans, or other harmful, disruptive, or destructive files, code, or programs to
the Site.

CleanClinic will fully cooperate with any law enforcement authorities or court order requesting or directing CleanClinic
to disclose the identity of anyone violating these Terms.
In its sole discretion, in addition to any other rights or remedies available to and without any liability whatsoever,
CleanClinic may at any time and without notice may terminate or restrict your access to any component of the Site.


Electronic Communications/Notice

Electronic Communication Consent
Your interaction with the Site or Services, as well as the act of sending emails to CleanClinic, are regarded as
instances of electronic communications. By engaging in these activities, you explicitly grant consent to the receipt of
electronic communications. Furthermore, you confirm your agreement that all agreements, notifications, disclosures, and
other forms of communication that CleanClinic furnishes to you electronically—whether through email or by displaying the
notifications on the Site—satisfy any legal stipulations mandating that such communications be in written format.
