<div class="row">
  <div class="col-sm-8">
    <h3>Branches:</h3>
  </div>
  <div class="col-sm-4">
    total: {{count}}
  </div>
</div>
<hr class="m-2">
<div class="row form-group">
  <div class="col-md-1">
    <div class="mt-2 h6">Search:</div>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" name="search" [(ngModel)]="filters.search">
  </div>
  <div class="col-md-1">
    <i class="fa fa-search mt-2" aria-hidden="true" (click)="getPageRecords(1)"></i>
  </div>

  <span class="col-sm-3">
    <button class="btn btn-success" (click)="openNewBranchModal()">
      Add New
    </button>
  </span>
</div>
<hr>

<div *ngIf="branches.length">

  <div *ngFor="let branch of branches ; let i = index">
    <hr>
    <div class="alert alert-info d-flex justify-content-between">{{branch.description}} <span>-</span>
      {{branch.address.description}} <span>-</span> Lat: {{branch.address.lat}}
      <span>-</span> Long: {{branch.address.long}} <span>-</span> <i class="fa fa-trash text-danger mt-1"
        (click)="openDeleteModal(branch.id, branch.description)"></i>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-md-10">
      <ul class="pagination ">
        <li class="page-item" [ngClass]="{'active': i+1 == currentPage }"
          *ngFor='let in of counter(totalPages);let i = index' (click)="getPageRecords(i+1)">
          <a href="javascript:void(0);" class="page-link">{{i+1}}</a>
        </li>
      </ul>
    </div>
  </div>

</div>
<div class="row m-5 p-5 alert-danger" *ngIf="!branches.length">
  <h3 class="col-md-12 px-5 center-elements" translate> No branches available!</h3>
</div>
