<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <h1>Privacy Policy</h1>

  <h2>Introduction</h2>
  <p>Welcome to the Privacy Policy of CleanClinic. Our commitment to safeguarding the privacy of our visitors and users
    is of paramount importance to us. This document has been created to provide you with a clear understanding of the
    types of information we collect, how we utilize this information, and the measures we take to ensure your privacy.
    Should you require additional clarification or have any questions regarding this policy, please don't hesitate to
    get in touch with us.</p>

  <h2>Consent</h2>
  <p>By accessing and using our website, <a href="http://cleanclinicapp.com/">http://cleanclinicapp.com/</a>, you
    acknowledge that you have read, understood, and agreed to the terms outlined in this Privacy Policy. Your consent to
    our Privacy Policy indicates your acceptance of our data collection, usage practices, and your understanding of how
    we handle and protect your personal information. If you do not agree with any aspect of this Privacy Policy, we
    advise you to refrain from using our website. If you have any concerns or questions about our policy, please feel
    free to contact us for further clarification. Your use of our website signifies your commitment to complying with
    this Privacy Policy and its terms.</p>

  <h2>Information We Collect</h2>
  <p>The data we collect and the rationale behind its collection are explicitly outlined at the precise moment when you
    provide the information. Transparency in data collection is a priority for us, and we ensure that you are fully
    informed about the purpose for which your data is being collected.</p>
  <p>When you initiate direct contact with us, we might gather supplementary information, including but not limited to
    your name, email address, phone number, the content of your message, and any attached files. This information is
    valuable for facilitating effective communication and addressing your inquiries or concerns.</p>
  <p>Moreover, in the process of creating an Account, we may request specific contact details such as your name, company
    name, physical address, email address, and telephone number. The purpose of collecting this information is to ensure
    accurate account management, provide you with personalized services, and deliver a seamless user experience.</p>
  <p>We are dedicated to respecting your privacy and handling your data responsibly. Should you have any questions or
    require further clarification about the data we collect and how it is used, please do not hesitate to contact us.
  </p>

  <h2>Use of Collected Information</h2>
  <p>We harness the collected data in a diverse array of ways, each contributing to enhancing your experience on
    CleanClinic:</p>
  <ul>
    <li>Website Operation: Data aids us in the seamless maintenance and operation of our website.</li>
    <li>Enhancement: Personalization of user experiences and continuous improvement of our website.</li>
    <li>Analysis: Understanding visitor behavior and interactions to enhance our services.</li>
    <li>Innovation: Developing novel products, services, and features that cater to your needs.</li>
    <li>Communication: Connecting with you for customer service, delivering updates, and conducting marketing
      activities.</li>
    <li>Emails: Utilizing emails for effective communication and sharing essential information.</li>
    <li>Fraud Detection: Identifying and mitigating any potentially fraudulent activities, thereby ensuring a secure
      environment.</li>
  </ul>

  <h2>Log Files</h2>
  <p>CleanClinic employs standard log files to record visitor interactions. These files gather non-personal details such
    as IP addresses, browser types, Internet Service Providers (ISPs), timestamps, and referral pages. These elements
    offer insights into trends, allow us to administer the site, and enable us to collect demographic data. Importantly,
    these logs do not contain any personally identifiable information.</p>

  <h2>Cookies and Web Beacons</h2>
  <p>Similar to many websites, CleanClinic utilizes "cookies." These small data files store visitor preferences and
    track page visits. The purpose of cookies is to enhance user experiences by adapting web content according to
    browser types and other relevant factors.</p>

  <h2>Google DoubleClick DART Cookie</h2>
  <p>Google, a third-party vendor featured on our site, uses DART cookies to display ads based on visitors' internet
    activity. If desired, you can opt-out of DART cookies through Google's ad and content network Privacy Policy.</p>

  <h2>Advertising Partners Privacy Policies</h2>
  <p>Check this list for Privacy Policies of CleanClinic's advertising partners. Third-party ad servers use cookies,
    JavaScript, and Web Beacons to measure ad effectiveness and personalize content.</p>

  <h2>CleanClinic's Limited Control Over Cookies</h2>
  <p>It's important to note that CleanClinic exercises limited control over the cookies employed by third-party vendors.
    These vendors are responsible for their own cookies and data collection processes, which are beyond our direct
    oversight.</p>

  <h2>Third-Party Privacy Policies</h2>
  <p>Our Privacy Policy specifically pertains to CleanClinic's practices and procedures. However, it does not extend to
    other advertisers or external websites. We strongly recommend that you refer to the respective Privacy Policies of
    third-party ad servers for comprehensive information about their data collection practices and detailed instructions
    for opting out if necessary.</p>

  <h2>Managing Cookies</h2>
  <p>You have the ability to manage cookies through your browser settings. If you wish to adjust your cookie preferences
    or disable them altogether, you can do so by accessing your browser's settings. This empowers you to have greater
    control over your online experience and the data that is collected.</p>
  <p>Should you require assistance with managing cookies or understanding third-party privacy policies, we are here to
    help. Your privacy and comfort are our priority, and we are committed to providing you with the information you need
    to make informed choices. Feel free to reach out to us if you have any queries or concerns.</p>

  <h2>CCPA Privacy Rights</h2>
  <p>As stipulated by the California Consumer Privacy Act (CCPA), consumers residing in California are entitled to the
    following rights:</p>
  <ul>
    <li>Knowledge of Data Collection: You have the right to be informed about the types of personal data collected about
      you, the sources of this data, and the purposes for which it is used.</li>
    <li>Request for Data Deletion: You can request the deletion of your personal data from our records, subject to
      certain exceptions as outlined by the law.</li>
    <li>Opt-Out of Data Sale: You have the option to opt out of the sale of your personal data to third parties. We
      respect your choice and will not sell your data if you exercise this right.</li>
  </ul>
  <p>To exercise any of these rights, please contact us. We are committed to addressing your requests and inquiries
    promptly and in compliance with the CCPA.</p>

  <h2>GDPR Data Protection Rights</h2>
  <p>In accordance with the General Data Protection Regulation (GDPR), users within the European Union (EU) and certain
    other jurisdictions enjoy the following data protection rights:</p>
  <ul>
    <li>Access to Personal Data: You have the right to request access to the personal data we have collected about you.
      This includes information about how and why it is being used.</li>
    <li>Correction of Inaccurate Data: If you believe that the personal data we hold about you is inaccurate or
      incomplete, you have the right to request its correction.</li>
    <li>Data Erasure: Under specific conditions, you can request the deletion of your personal data from our records.
      This right is also known as the "right to be forgotten."</li>
    <li>Processing Restriction Requests: You can request the limitation of processing your personal data, typically when
      you contest the accuracy of the data or when processing is unlawful.</li>
    <li>Objecting to Processing: In certain cases, you have the right to object to the processing of your personal data,
      especially if it is being used for direct marketing or legitimate interests.</li>
  </ul>

  <h2>
    Children's Information and Online Protection
  </h2>
  <p>
    We recognize the critical importance of safeguarding children's online experiences. It is imperative for parents and
    guardians to actively guide and supervise their children's use of the internet and online services.

    CleanClinic adheres to a strict policy regarding the collection of personal information from children under the age
    of 13. We do not knowingly gather any personal data from individuals in this age group. If you believe that personal
    information about a child under 13 has been inadvertently provided to us, we urge you to contact us immediately.
    Upon verification, we will take prompt measures to remove this information from our records and ensure compliance
    with relevant regulations.

    At CleanClinic, we prioritize the protection of minors and encourage responsible internet usage. If you have any
    concerns or require assistance regarding children's information on our platform, please do not hesitate to reach out
    to us. Your cooperation is vital in creating a secure and respectful online environment for everyone.

    Changes to This Privacy Policy

    Please be aware that this Privacy Policy may undergo periodic updates. We encourage you to revisit this page
    regularly to stay informed about any alterations made. In the event of any modifications to our Privacy Policy, a
    new version will be posted here, and the changes will take effect immediately upon posting.

    Your continued use of our website, http://cleanclinicapp.com/, following any changes to this Privacy Policy
    signifies your acknowledgment and acceptance of the revised terms. We recommend that you familiarize yourself with
    this document to ensure your ongoing understanding of how we handle your data and protect your privacy.

    Thank you for entrusting CleanClinic with your privacy. If you have any inquiries or require further clarification
    about our Privacy Policy or any updates, please do not hesitate to contact us. Your satisfaction and confidence in
    our data practices are of paramount importance to us.
  </p>

  <h2>
    Contact Us
  </h2>
  <p>
    If you have any questions or suggestions regarding our Privacy Policy, please don't hesitate to get in touch with us
    via email at info@cleanclinicapp.com. We appreciate your interest and are here to provide you with the information
    and assistance you need to ensure a clear understanding of our privacy practices.
  </p>

</body>

</html>
