<div class="row form-group my-3">
  <span class="col-sm-9">
    <h5 class="mx-4" >Service Type</h5>
  </span>
  <span class="col-sm-3">
    <button class="btn btn-success" (click)="openNewServiceTypeModal()">
      Add New
    </button>
  </span>
</div>
<div *ngIf="serviceTypes.length">
  <div *ngFor="let type of serviceTypes">
    <hr>
    <div [ngClass]="{
        'alert-info': type.isActive,
        'alert-danger': !type.isActive
      }" class="alert d-flex justify-content-between">
      <span>
        <img src="{{backendUrl}}{{ type.icon }}" alt="logo.png" width="38">
        <span *ngIf="[EmployeeRole.ADMIN].includes(currentEmployee.role)">
          <i class="fa fa-pencil border rounded p-2 mx-2" aria-hidden="true"
            (click)="openUpdateLogoModal(type)"></i>
        </span>
      </span>
      <span>
        {{type.name}}
        <span *ngIf="[EmployeeRole.ADMIN].includes(currentEmployee.role)">
          <i class="fa fa-pencil border rounded p-2" aria-hidden="true"
            (click)="openUpdateNameModal(type)"></i>
        </span>
      </span>
      <span>{{type.price}} {{type.currency}}
        <span *ngIf="[EmployeeRole.ADMIN].includes(currentEmployee.role)">
          <i class="fa fa-pencil border rounded p-2" aria-hidden="true"
            (click)="openUpdatePriceModal(type)"></i>
        </span>
      </span>
      <span>{{type.category?.name}}</span>
      <span>
        <abbr *ngIf="!type.isActive">
          <i class="fa fa-trash        bg-white p-1 rounded m-1" style="font-size: 21px!important;"
            (click)="openDeleteModal(type.id, type.name)"></i>
          <i class="fa fa-check-circle bg-white p-1 rounded m-1" style="font-size: 21px!important;"
            (click)="openEnableDisableModal(type.id, type.name, type.isActive)"></i>
        </abbr>
        <abbr *ngIf="type.isActive" (click)="openEnableDisableModal(type.id, type.name, type.isActive)"><i
            class="fa fa-minus-circle bg-white p-1 rounded m-1" style="font-size: 21px!important;"></i></abbr>
      </span>

    </div>
  </div>
  <!-- <div class="row w-100">
    <div class="col-md-10">
      <ul class="pagination ">
        <li class="page-item" [ngClass]="{'active': i+1 == currentPage }"
          *ngFor='let in of counter(totalPages);let i = index' (click)="getPageRecords(i+1)">
          <a href="javascript:void(0);" class="page-link">{{i+1}}</a>
        </li>
      </ul>
    </div>
  </div> -->
</div>
<div class="row m-5 p-5 alert-danger" *ngIf="!serviceTypes.length">
  <h3 class="col-md-12 px-5 center-elements" translate> No service types available!</h3>
</div>
